.wrapper {
    display: flex;
    justify-content: flex-end;
}

.stakeButton {
    margin-left: 20px;
}

.balance {
    color: var(--col--gray1);
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}