.wrapper {
    background-color: var(--col--light);
    border-radius: 12px;
    max-width: 450px;
    padding: 24px;
    position: relative;
    width: 95vw;
}

.backIcon {
    position: absolute;
    cursor: pointer;
}

.closeIcon {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
}

.closeIcon:hover,
.backIcon:hover {
    opacity: 0.7;
}

.stakeContentHeader {
    text-align: center;
    margin-bottom: 24px;
}

