.wrapper {
    display: flex;
    padding: 10px 16px;
    border-radius: 7px;
}

.icon {
    display: block;
    margin-right: 5px;
}

.error {
    background-color: var(--col--secondary3);
    color: var(--col--secondary4);
}

.warning {
    background-color: var(--col--secondary2);
    color: var(--col--secondary1);
}

.error .icon {
    display: none;
}
