.wrapper {
    display: flex;
    align-items: center;
    color: var(--link-active-color);
}

.wrapper:hover {
    color: #587EFC;
}

.wrapper:hover .dot {
    background-color: #587EFC;
}

.dots {
    width: 20px;
    min-width: 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1px;
    padding-left: 1px;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: var(--link-active-color);
    border-radius: 50%;
}
