@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,100&display=swap');

.middleEllipsis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middleEllipsisStringEnd {
  font-family: "Roboto Mono", monospace;
  line-height: 133%;
  text-decoration: none;
}

.middleEllipsisStringStart {
  white-space: nowrap;
  font-family: "Roboto Mono", monospace;
  line-height: 133%;
  text-decoration: none;
}

.dots {
  width: 20px;
  min-width: 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1px;
  padding-left: 1px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}

.inactive {
  color: var(--link-inactive-color);
}

.inactiveHovered {
  color: var(--link-inactive-hover-color);
}

.active {
  color: var(--link-active-color);
}

.activeHovered {
  color: var(--link-active-hover-color);
}

.isHeader {
  color: rgba(0, 0, 0, 0.8);
}

.breadCrumbs {
  cursor: pointer;
}

.hashLink {
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
