.senseContent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.background {
    width: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.infoTitle {
    color: rgba(255, 255, 255, 1);
}

.infoText {
    text-align: center;
    max-width: 219px;
    color: rgba(255, 255, 255, 0.6);
}
.infoBtn {
    cursor: pointer;
    padding: 4px 16px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    color: rgba(255, 255, 255, 1);
}
