.doubleTabSwitcher {
    display: flex;
    gap: 6px;
    align-items: center;
    user-select: none;
    width: max-content;
    flex-wrap: nowrap;
}

.tab {
    height: 34px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 12px;
    transition: background-color ease 300ms;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 16px;
    letter-spacing: 0.02em;
    flex-grow: 1;
}

.tab:hover {
    background-color: rgba(249, 249, 249, 1);
}

.tabActive {
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(89, 127, 255, 1);
}

.tabActive:hover {
    background-color: rgba(89, 127, 255, 0.8);
}
